{% extends "__base.html" %}

{% load static %}

{% block title %}

    <title>Title</title>

{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="{{ request.get_full_path }}" method="post">
                    <!-- CSRF Token -->
                    {% csrf_token %}
                    <!-- Non-Field Errors -->
                    {% if form.non_field_errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <!-- Country -->
                    <div class="form-group">
                        {% if form.country.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ form.country.errors }}
                            </div>
                        {% endif %}
                        <label for="{{ form.country.id_for_label }}">{{ form.country.label }}:</label>
                        {{ form.country }}
                    </div>
                    <!-- Region -->
                    <div class="form-group">
                        {% if form.region.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ form.region.errors }}
                            </div>
                        {% endif %}
                        <label for="{{ form.region.id_for_label }}">{{ form.region.label }}:</label>
                        {{ form.region }}
                    </div>
                    <!-- Zone -->
                    <div class="form-group">
                        {% if form.zone.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ form.zone.errors }}
                            </div>
                        {% endif %}
                        <label for="{{ form.zone.id_for_label }}">{{ form.zone.label }}:</label>
                        {{ form.zone }}
                    </div>

                    <div class="form-group">
                        <!-- City -->
                        <div class="row">
                            <div class="col">
                                {% if form.city.errors %}
                                    <div class="alert alert-warning" role="alert">
                                        {{ form.city.errors }}
                                    </div>
                                {% endif %}
                                <label for="{{ form.city.id_for_label }}">{{ form.city.label }}:</label>
                                {{ form.city }}
                            </div>
                            <!-- Sub-City -->
                            <div class="col">
                                {% if form.sub_city.errors %}
                                    <div class="alert alert-warning" role="alert">
                                        {{ form.sub_city.errors }}
                                    </div>
                                {% endif %}
                                <label for="{{ form.sub_city.id_for_label }}">{{ form.sub_city.label }}:</label>
                                {{ form.sub_city }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <!-- Woreda -->
                                {% if form.woreda.errors %}
                                    <div class="alert alert-warning" role="alert">
                                        {{ form.woreda.errors }}
                                    </div>
                                {% endif %}
                                <label for="{{ form.woreda.id_for_label }}">{{ form.woreda.label }}:</label>
                                {{ form.woreda }}
                            </div>
                            <div class="col">
                                <!-- Kebele -->
                                {% if form.kebele.errors %}
                                    <div class="alert alert-warning" role="alert">
                                        {{ form.kebele.errors }}
                                    </div>
                                {% endif %}
                                <label for="{{ form.kebele.id_for_label }}">{{ form.kebele.label }}:</label>
                                {{ form.kebele }}
                            </div>
                            <div class="col">
                                <!-- House No. -->
                                {% if form.house_no.errors %}
                                    <div class="alert alert-warning" role="alert">
                                        {{ form.house_no.errors }}
                                    </div>
                                {% endif %}
                                <label for="{{ form.house_no.id_for_label }}">{{ form.house_no.label }}:</label>
                                {{ form.house_no }}
                            </div>
                        </div>
                    </div>
                    <!-- Form Submit Button -->
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript" src="{% static "js/get-cookie.js" %}"></script>

    <script>
        const csrftoken = getCookie('csrftoken');
        axios.defaults.headers.common['X-CSRFToken'] = csrftoken;

        root = null;

        axios.get('/account/geo').then(
            response => root = response.data
        ).catch(
            error => console.log(error)
        );

        function search(el, functor) {
            if (el === null)
                return;

            functor(el);

            for (const child of el.children) {
                search(child, functor);
            }
        }

        $(document).ready(function () {

            $('#id_region').change(function () {
                const q = $(this).val();
                let r = null;
                search(root, el => {
                    if (el.type === 'region' && q === el.iso_3166_2) {
                        r = el.iso_3166_2;
                    }
                });
                console.log(`region ${q}: ${r}`);
            });

            $('#id_zone').on('input', function () {
                const q = $(this).val();
                let r = [];
                search(root, el => {
                    const re = new RegExp(q, 'i');
                    if (el.type === 'zone' && re.exec(el.common_name)) {
                        r.push(el.common_name);
                    }
                });
                console.log(`zone ${q}: ${r}`);
            });

            $('#id_city').on('input', function () {
                const q = $(this).val();
                let r = [];
                search(root, el => {
                    const re = new RegExp(q, 'i');
                    if (el.type === 'city' && re.exec(el.common_name)) {
                        r.push(el.common_name);
                    }
                });
                console.log(`city ${q}: ${r}`);
            });

        });

    </script>

{% endblock %}