[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-phonenumber-field = "*"
tldextract = "*"
regex = "*"
django-otp = "*"
social-auth-app-django = "*"
django-dirtyfields = "*"
djangorestframework-simplejwt = "*"
psycopg2 = "*"
phonenumbers = "*"
freezegun = "*"

[dev-packages]

[requires]
python_version = "3.7"
