alabaster==0.7.12
asgiref==3.4.1
Babel==2.9.1
beautifulsoup4==4.10.0
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.6
click==7.1.2
colorama==0.4.4
cryptography==35.0.0
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2.8
django-dirtyfields==1.7.0
django-environ==0.7.0
django-heroku==0.3.1
django-phonenumber-field==5.2.0
django-rest-multiple-models==2.1.3
django-split-settings==1.1.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
docutils==0.17.1
dynaconf==3.1.7
filelock==3.3.0
freezegun==1.1.0
gunicorn==20.1.0
idna==3.2
imagesize==1.2.0
Jinja2==3.0.2
MarkupSafe==2.0.1
oauthlib==3.1.1
packaging==21.0
phonenumbers==8.12.34
psycopg2==2.9.1
pycparser==2.20
pydata-sphinx-theme==0.6.3
Pygments==2.10.0
PyJWT==2.2.0
pyparsing==2.4.7
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2021.3
PyYAML==6.0
regex==2021.9.30
requests==2.26.0
requests-file==1.5.1
requests-oauthlib==1.3.0
six==1.16.0
snowballstemmer==2.1.0
social-auth-app-django==5.0.0
social-auth-core==4.1.0
soupsieve==2.2.1
Sphinx==4.2.0
sphinx-book-theme==0.1.5
sphinx-press-theme==0.8.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
tldextract==3.1.2
typing-extensions==3.10.0.2
urllib3==1.26.7
whitenoise==5.3.0
