# This file exists solely to support readthedocs.io.
# Our dependencies are handled by pipenv and are configured in Pipfile
django
djangorestframework
django-phonenumber-field
tldextract
regex
social-auth-app-django
django-dirtyfields
djangorestframework-simplejwt
phonenumbers
django-rest-multiple-models
django-environ
django-split-settings
gunicorn
django-heroku
